@media (max-width: 1500px) {
    *{
      font-size: 52%;
    }
}

@media (min-width: 2160px){
  *{
    font-size: 75%;
  }
  #contact{
    font-size: 8rem;
  }
}

@media (max-width: 1000px) {
  *{
    font-size: 42%;
  }
}